@page "/registr"

@using BlazorContolWork.Data
@inject SingletonServices singleton
@inject NavigationManager NavigationManager
<section class="vh-100" style="background-color: #eee;">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-12 col-xl-11">
        <div class="card text-black" style="border-radius: 25px;">
          <div class="card-body p-md-5">
            <div class="row justify-content-center">
              <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Sign up</p>

                <form class="mx-1 mx-md-4">

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <input type="text" id="form3Example1c" class="form-control" @bind="@userName"/>
                      <label class="form-label" for="form3Example1c">Your Name</label>
                    </div>
                  </div>
                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <input type="email" id="form3Example3c" class="form-control" @bind="@userSurname"/>
                      <label class="form-label" for="form3Example3c">Your Surname</label>
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <input type="text" id="form3Example4c" class="form-control" @bind="@userLogin"/>
                      <label class="form-label" for="form3Example4c">Login</label>
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <input type="password" id="form3Example4c" class="form-control" @bind="@userPassword"/>
                      <label class="form-label" for="form3Example4c">Password</label>
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <input type="password" id="form3Example4cd" class="form-control" @bind="@userLastPassword"/>
                      <label class="form-label" for="form3Example4cd">Repeat your password</label>
                    </div>
                  </div>

                <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                        <label>
                        Select role...
                            <select @bind=@selectedRole>
                                <option value="Customer">Customer</option>
                                <option value="Developer">Developer</option>
                                <option value="Designer">Designer</option>
                            </select>
                        </label>
                    </div>
                </div>
                @if(selectedRole == "Customer")
                {
                    <div class="d-flex flex-row align-items-center mb-4">
                        <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                        <div class="form-outline flex-fill mb-0">
                            <label>
                                Select type project...
                                    <select @bind=@selectedTypeProject>
                                    <option value="Gasification">Gasification</option>
                                    <option value="Water Supply">Water Supply</option>
                                </select>
                            </label>
                        </div>
                    </div>
                }

                <div class="form-check d-flex justify-content-center mb-5">
                <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3c" @bind="@userAgree"/>
                <label class="form-check-label" for="form2Example3">
                    I agree all statements in <a href="#!">Terms of service</a>
                </label>
                </div>

                  <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                    <button type="button" class="btn btn-primary btn-lg" @onclick = "RegUser">Register</button>

                  </div>
                  @if(error)
                        {
                            <h6 class="btn-danger">Error</h6>
                        }
                </form>

              </div>
              <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">

                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp"
                  class="img-fluid" alt="Sample image">

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
@code {

    string userName = string.Empty;
    string userSurname = string.Empty;
    string userLogin = string.Empty;
    string userPassword = string.Empty;
    string userLastPassword = string.Empty;
    string selectedRole = string.Empty;
    string selectedTypeProject = string.Empty;

    bool userAgree = false;
    bool error = false;

    private void RegUser()
    {
        var tempLog = MongoExamples.FindLog(userLogin);
        if (userName != string.Empty && userSurname != string.Empty && userPassword != string.Empty && userLastPassword != string.Empty
        && userPassword == userLastPassword && userAgree == true && userLogin != string.Empty && tempLog == null && selectedRole != string.Empty 
        && selectedRole != "Customer")
        {
            User temp = new User(userName, userSurname, userPassword, userLogin, selectedRole);
            MongoExamples.AddToDB(temp);
            singleton.LogIn = true;
            singleton.user = temp;
            NavigationManager.NavigateTo("/");
        }
        else if (userName != string.Empty && userSurname != string.Empty && userPassword != string.Empty && userLastPassword != string.Empty
        && userPassword == userLastPassword && userAgree == true && userLogin != string.Empty && tempLog == null 
        && selectedRole == "Customer" && selectedTypeProject != string.Empty)
        {
            User temp = new User(userName, userSurname, userPassword, userLogin, selectedRole, selectedTypeProject);
            MongoExamples.AddToDB(temp);
            singleton.LogIn = true;
            singleton.user = temp;
            NavigationManager.NavigateTo("/");
        }
        else
        {
            error = true;
        }
    }
}
